# Server Configuration
PORT=5000
NODE_ENV=development

# MySQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Shubh@123
DB_NAME=portfolio_db
DB_PORT=3306

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=barnwalshubh8002434@gmail.com
SMTP_PASS=rxel mdoq mdyf kuhm

# Admin Email (where contact form submissions will be sent)
ADMIN_EMAIL=barnwalshubh8002434@gmail.com

# Frontend URL for CORS
FRONTEND_URL=http://localhost:3000



